@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #142222;

  --branding-50: #fdeaea;
  --branding-100: #f9c7c7;
  --branding-200: #f39b9b;
  --branding-300: #ed6f6f;
  --branding-400: #e84a4a;
  --branding-500: #e02222;
  --branding-600: #b01a1a;
  --branding-700: #801111;
  --branding-800: #5b0c0c;
  --branding-900: #350606;
  --branding-950: #1a0303;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-syne: var(--font-syne);
  --font-sarina: var(--font-sarina);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #142222;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a:hover {
  text-decoration: underline;
}
